body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    font-size: 16px;
    color: #434455;
}
:root {
    --primary-black-color: #2e2f42;
}
a {
    text-decoration: none;
    
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1 {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
}
.container { 
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 156px;
    margin-right: 156px;
    border: 1px solid red;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.work {
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
/* . {
    color:  #2E2F42;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
} */
/* p {
    color:  #434455;
    letter-spacing: 0.02em;
    font-size: 16px;

} */
footer {
    background-color: #2E2F42;
}
.first-logo-word {
    color:#4D5AE5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none
}
.second-logo-word {
    color: #2E2F42;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none
}
.second-logo-word-foot {
    color: #f4f4fd;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none
}
.link-word {
    color: #2E2F42;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration:none
}
.link-word:hover,
.link-word:focus {
    color: #404bbf;
}
.list-adress {
    color: #434455;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0.02em;
}
.list-adress:hover,
.list-adress:focus {
    color: #404bbf;
}
.order-button {
    color:  #FFF;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
background: var(--iris, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin: 0 auto;
margin-top: 48px;
display: flex;
}
.order-button:hover,
.order-button:focus {
    background-color:  #404BBF;
    cursor: pointer;
}
.button-section {
    background-color: #2E2F42;
    /* width: 1440px; */
}
.footer-text {
    color: #F4F4FD
}
.portfolio-menu {
    color:  #4D5AE5;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.people-list {
    background-color: #F4F4FD;
}
.list-work {
    background-color: #FFFFFF;
}
.names-worker {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.worker-description {
    color:  #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
}
.order-button-portfolio {
    color:  #4d5ae5;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
}
.order-button-portfolio:hover,
.order-button-portfolio:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
}
.image-list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.photo-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.photo-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-adress {
    font-style: normal;
    
}

.header-nav:hover,
.header-nav:focus {
    color: #404bbf;
}
.list-menu {
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 500;
    
}
.list-menu:hover,
.list-menu:focus {
    color: #404bbf;
}
.list-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-container {
    display: flex;
    align-items: center;
    gap: 332px;
}
.list {
    display: flex;
    gap: 40px;

}
.header {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}
.header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.address-list {
    gap: 40px;
}
.container-button {
    width: 1440px;
    height: 660px;
}
.solution {
    width: 496px;
    margin: 0 auto;
    padding-top: 188px;
}
.container-work {
    padding-top: 120px;
    display: flex;
}
.work-item {
    width: 264px;
}
.list-work {
    display: flex;
    gap: 28px;
}
.list-text {
    padding-top: 8px;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}